.image {
  width: 170px;
  height: 130px;
  display: block;
  z-index: 9;
  margin-top: 0px;
  border-radius: 0px 1000px 1000px 0px;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  height: 70%;
  margin-top: -30px;
  margin-bottom: -30px;
}
.container,
.containeer {
  background-color: #292e3d;
  backdrop-filter: blur(10px);
  width: 430px;
  height: 270px;
  border-radius: 10px;
  transition: all 200ms linear;
  position: relative;
}
.container:hover {
  background: #6868fc;
  transform: translateY(-10px);
  color: black;
}
.container:hover h3,
.container:hover p {
  color: black;
}
.title {
  color: white;
  font-size: x-large;
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
}
.matn {
  color: white;
  text-align: justify;
  width: 50%;
  position: relative;
  bottom: 10px;
  font-size: small;
}
.buy {
  border: none;
  background-color: rgba(51, 51, 51, 0.913);
  font-size: large;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px 10px;
  transition: all 250ms linear;
  width: 200px;
  height: 40px;
  margin-left: 200px;
  color: white;
}
.buy:hover {
  background: #46ee89;
  bottom: 2px;
  color: black;
  padding: 10px 15px;
  border-radius: 3px;
}
.doNot {
  display: none;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 1388px) {
  .container,
  .containeer {
    background-color: #292e3d;
    backdrop-filter: blur(10px);
    width: 330px;
    height: 230px;
    border-radius: 10px;
    transition: all 200ms linear;
    position: relative;
  }
  .image {
    width: 120px;
    height: 120px;
    display: block;
    z-index: 9;
    margin-top: 0px;
    border-radius: 0px 1000px 1000px 1000px;
  }
}
@media screen and (max-width: 800px) {
  .image {
    width: 100px;
    height: 100px;
    display: block;
    z-index: 9;
    margin-top: 0px;
    background-color: white;
    border-radius: 1000px 0px 1000px 1000px;
    margin-left: 45px;
  }
  .container,
  .containeer {
    background-color: #292e3d;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    transition: all 200ms linear;
    position: relative;
    margin-top: 50px;
    cursor: pointer;
    display: block;
  }
  .container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
  }
  .matn {
    display: none;
  }
  .buy {
    border: none;
    background-color: rgba(51, 51, 51, 0.913);
    font-size: smaller;
    cursor: pointer;
    transition: all 250ms linear;
    margin-left: 50px;
    margin-top: 50px;
  }

  .title {
    color: white;
    font-size: small;
    margin-top: 5px;
    text-align: center;
  }
  .container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
  }
  .buy:hover {
    background: rgb(52, 255, 106);
    color: black;
    margin: 40px 27.5%;
    border-radius: 3px;
    transition: all 250ms linear;
    width: 210px;
    height: 50px;
    padding: 5px;
  }
}
@media screen and (max-width: 628px) {
  .container,
  .containeer {
    background-color: #292e3d;
    width: 170px;
    height: 220px;
    border-radius: 10px;
    transition: all 200ms linear;
    position: relative;
    margin-top: 50px;
    cursor: pointer;
    display: block;
  }
  .image {
    width: 80px;
    height: 80px;
    display: block;
    z-index: 9;
    margin-top: 0px;
    background-color: white;
    border-radius: 1000px 0px 1000px 1000px;
    margin-left: 45px;
  }
  .buy {
    border: none;
    background-color: rgba(51, 51, 51, 0.913);
    font-size: smaller;
    cursor: pointer;
    transition: all 250ms linear;
    margin-left: 40px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .image {
    width: 120px;
    height: 120px;
    display: block;
    z-index: 9;
    margin-top: 0px;
    margin-left: 0%;
    border-radius: 0px 1000px 1000px 1000px;
  }
  .container .image {
    width: 80px;
    height: 80px;
    display: block;
    z-index: 9;
    margin-top: 0px;
    margin-left: 0%;
    border-radius: 0px 1000px 1000px 1000px;
  }
  .container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 70%;
    margin-top: -30px;
    margin-bottom: -30px;
  }
  .container {
    background-color: #292e3d;
    backdrop-filter: blur(10px);
    width: 47%;
    height: 200px;
    border-radius: 10px;
    transition: all 200ms linear;
    position: relative;
  }
  .containeer {
    background-color: #292e3d;
    backdrop-filter: blur(10px);
    width: 95%;
    height: 200px;
    border-radius: 10px;
    transition: all 200ms linear;
    margin-top: 20px;
    position: relative;
  }
  .containeer .matn {
    display: block;
  }
  .container:hover,
  .containeer:hover {
    background: #6868fc;
    transform: translateY(-10px);
    color: black;
  }
  .container:hover h3,
  .container:hover p,
  .containeer:hover h3,
  .containeer:hover p {
    color: black;
  }
  .title {
    color: white;
    font-size: large;
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
  }
  .matn {
    color: white;
    text-align: justify;
    width: 50%;
    position: relative;
    bottom: 10px;
    font-size: small;
    /* display: block; */
  }
  .containeer .buy {
    border: none;
    background-color: rgba(51, 51, 51, 0.913);
    font-size: large;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px 10px;
    transition: all 250ms linear;
    width: 200px;
    height: 40px;
    margin-left: 50%;
    color: white;
  }
  .container .buy {
    border: none;
    background-color: rgba(51, 51, 51, 0.913);
    font-size: large;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px 10px;
    transition: all 250ms linear;
    width: 100px;
    height: 40px;
    margin-left: 80px;
    color: white;
  }
  .containeer .buy:hover {
    background: #29d96f;
    bottom: 2px;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
  }
  .container .buy:hover {
    background: #29d96f;
    bottom: 2px;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
  }
  .doNot {
    display: none;
  }
  .container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
  }
}
@media screen and (max-width: 452px) {
  .container {
    background-color: #292e3d;
    backdrop-filter: blur(10px);
    width: 47%;
    height: 180px;
    border-radius: 10px;
    transition: all 200ms linear;
    position: relative;
  }
  .containeer {
    background-color: #292e3d;
    backdrop-filter: blur(10px);
    width: 95%;
    height: 180px;
    border-radius: 10px;
    transition: all 200ms linear;
    margin-top: 20px;
    position: relative;
  }
  .containeer .buy {
    border: none;
    background-color: rgba(51, 51, 51, 0.913);
    font-size: medium;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 0px;
    padding: 5px 10px;
    transition: all 250ms linear;
    width: 10px;
    height: 40px;
    margin-left: 50%;
    color: white;
  }
  .container .buy {
    border: none;
    background-color: rgba(51, 51, 51, 0.913);
    font-size: medium;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    top: 30px;

    margin-top: 10px;
    padding: 5px 10px;
    transition: all 250ms linear;
    width: 70px;
    height: 50px;
    margin-left: 20%;
    color: white;
  }
  .container .image {
    width: 80px;
    height: 80px;
    display: block;
    z-index: 9;
    margin-top: 0px;
    margin-left: 25%;
    border-radius: 1000px 0px 1000px 1000px;
  }
}
