.container {
  min-height: 70vh;
  margin-top: 200px;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  background-color: #292e3d;
}
.title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
}
.buy {
  border: none;
  background-color: rgba(51, 51, 51, 0.913);
  font-size: x-large;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 250ms linear;
  width: 300px;
  height: 70px;
  margin-left: 250px;
}
.buy:hover {
  background: rgb(52, 255, 106);
  color: black;
  padding: 0;
}
.btn {
  background-color: #6868fc;
  color: rgb(0, 0, 0);
  padding: 0px 5px;
  border-radius: 5px;
  position: relative;
  transition: all 500ms linear;
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 70px;
  margin-bottom: 44px;
  margin-left: 160px;
}
.btn p {
  padding: 0px 8px;
  color: black;
  font-size: x-large;
}
.btn img {
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 150ms linear;
  background-color: #ffffff;
}
.doNot {
  display: none;
}
.btn img:hover,
.containeer .btn img:hover {
  background-color: rgb(52, 255, 106);
}
.btn .down:hover,
.containeer .btn .down:hover {
  background-color: rgb(255, 75, 75);
}
.price {
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  width: 20%;
  margin-right: -10px;
  font-size: x-large;
}
.main,
.main2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
.image {
  width: 400px;
  height: 400px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 0px 1000px 1000px 0px;
  margin-left: -10.5%;
}
.description {
  width: 30%;
  text-align: justify;
  font-size: larger;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 70px;
  font-size: 18px;
}
.category {
  color: #8f8fff;
}
