.container {
  min-height: 70vh;
  margin-top: 200px;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  background-color: #292e3d;
}
.title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
}
.main,
.main2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
.image {
  width: 400px;
  height: 400px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 0px 1000px 1000px 0px;
  margin-left: -10.5%;
}
.description {
  width: 30%;
  text-align: justify;
  font-size: larger;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 70px;
  font-size: 18px;
}
.category {
  color: #8f8fff;
}

@media screen and (max-width: 768px) {
  .title {
    margin-top: 200px;
    color: white;
    text-align: center;
    font-size: 17px;
  }
  .main,
  .main2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .image {
    width: 50%;
    height: 300px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 10px;
    margin-left: 5%;
  }
  .description {
    width: 60%;
    text-align: justify;
    font-size: large;
  }
}
@media screen and (max-width: 500px) {
  .title {
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 17px;
  }
  .main,
  .main2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .image {
    width: 50%;
    height: 200px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 10px;
    margin-left: 5%;
  }
  .description {
    width: 90%;
    text-align: justify;
    font-size: medium;
  }
}
