*{
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    width: 250px;
    height: 250px;
    display: block;
    z-index: 9;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.container{
background-color: rgba(36, 36, 36, 0.696);
backdrop-filter: blur(10px);
width: 300px;
height: 600px;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
border-radius: 10px;
transition: all 300ms;
position: relative;

}
.container:hover{
    background:rgba(65, 170, 255, 0.779);
    bottom: 2px;
    color: black;
    box-shadow: 3px 3px 5px black;

}
.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: x-large;
}
.matn{
    color: white;
    text-align: justify;
    width: 90%;
    position: relative;
    bottom: 10px;
}
.btn{
    background-color: rgba(65, 170, 255, 0.779);
    color: rgb(0, 0, 0);
    padding: 0px 25px;
    border-radius: 5px;
    position: relative;
    transition: all 500ms linear ;
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 35px;
}
.btn p{
    padding: 0px 8px;
}
.btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    transition: all 150ms linear;
    
}
.buy{
    border: none;
    background-color: rgba(169, 169, 169, 0.725);
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    transition: all 250ms linear ;
}
.buy:hover{
    background:rgb(41, 217, 73);
    bottom: 2px;
    color: black;
    padding: 10px;
    border-radius: 3px;

}
.doNot{
   display: none;
}
.btn img:hover{
    background-color:rgb(13, 193, 115) ;

}
.btn .down:hover{
    background-color: rgb(230, 31, 31);
}