.container img {
    width: 20%;
    height: fit-content;

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    height: 300px;
    position: relative;
    top: 800px;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    padding-top: 100px;
}
.title{
    position: relative;
    top: 890px;
    width: 40%;
    margin-left: 38%;
    color: rgb(255, 255, 255);
    z-index: 9999;
}