.headerImage {
  position: absolute;
  background: url(./background.jpg);
  width: 90%;
  margin-left: 10%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  left: 0%;
  right: 0%;
  border-radius: 800px 0px 0px 800px;
  z-index: 0;
}
@media screen and (max-width: 1388px){
  .headerImage {
    margin-top: 50px;
    height: 500px;
  }
}
@media screen and (max-width: 800px) {
  .headerImage {
    margin-top: 50px;
    height: 300px;
  }
}
@media screen and (max-width: 666px){
  .headerImage{
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
.headerImage {
  display: none;
}
}